/* ---------------------------------------------------------------------- */
/*  Theme Default
/* ---------------------------------------------------------------------- */
/* line 10, ../../sass/themes/theme-default.scss */
body {
  background-color: #22262F;
}
/* line 12, ../../sass/themes/theme-default.scss */
body.layout-boxed {
  background: url("../../images/bg.png") #22262F;
}

/* line 16, ../../sass/themes/theme-default.scss */
#slidingbar {
  background: rgba(34, 38, 47, 0.9);
}

/* line 19, ../../sass/themes/theme-default.scss */
.main-container, #pageslide-left, #pageslide-right {
  background-color: #22262F !important;
}

/* line 22, ../../sass/themes/theme-default.scss */
.label-default, .badge-default {
  background: #e66b6b !important;
}

/* line 26, ../../sass/themes/theme-default.scss */
.pace .pace-progress {
  background: #5F8295;
}

/* line 30, ../../sass/themes/theme-default.scss */
.topbar {
  background: #5F8295;
  background-color: #7c9bab 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7c9bab 0px), to(#5F8295 100%));
  background-image: -webkit-linear-gradient(top, #7c9bab 0px, #5F8295 100%);
  background-image: -moz-linear-gradient(top, #7c9bab 0px, #5F8295 100%);
  background-image: -ms-linear-gradient(top, #7c9bab 0px, #5F8295 100%);
  background-image: -o-linear-gradient(top, #7c9bab 0px, #5F8295 100%);
  background-image: linear-gradient(top, #7c9bab 0px, #5F8295 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7c9bab 0px', endColorStr='#5F8295 100%');
}
/* line 33, ../../sass/themes/theme-default.scss */
.topbar > .container .navbar-brand, .topbar .logo {
  color: #ffffff;
}
/* line 37, ../../sass/themes/theme-default.scss */
.topbar .topbar-tools > ul > li > a {
  color: #ffffff;
}
/* line 40, ../../sass/themes/theme-default.scss */
.topbar .topbar-tools > ul > li.right-menu-toggle > a {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #5F8295;
}
/* line 46, ../../sass/themes/theme-default.scss */
.topbar .nav li.dropdown.open > .dropdown-toggle, .topbar .nav li.dropdown.active > .dropdown-toggle, .topbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: none;
  color: #ffffff;
}
/* line 50, ../../sass/themes/theme-default.scss */
.topbar .nav > li:hover > a, .topbar .nav > li:active > a, .topbar .nav > li > a:focus {
  color: #ffffff;
  background: none;
}

/* line 58, ../../sass/themes/theme-default.scss */
ul.main-navigation-menu > li a {
  border-bottom: none;
  border-top-color: #2d323e;
  color: white;
}
/* line 62, ../../sass/themes/theme-default.scss */
ul.main-navigation-menu > li a i {
  color: #676869;
  font-weight: normal;
}
/* line 67, ../../sass/themes/theme-default.scss */
ul.main-navigation-menu > li.active > a {
  background: #32353e !important;
  border-top: none !important;
  color: #ffffff;
}
/* line 71, ../../sass/themes/theme-default.scss */
ul.main-navigation-menu > li.active > a i {
  color: #ffffff;
}

/* line 76, ../../sass/themes/theme-default.scss */
ul.main-navigation-menu li > ul.sub-menu > li > a:hover {
  background: #32353e;
  color: #ffffff !important;
}

/* line 80, ../../sass/themes/theme-default.scss */
ul.main-navigation-menu li > ul.sub-menu > li.open > a, ul.main-navigation-menu li > ul.sub-menu > li.active > a, ul.main-navigation-menu li > ul.sub-menu > li.open > a:hover, ul.main-navigation-menu li > ul.sub-menu > li.active > a:hover {
  background: #171a20 !important;
  color: #ffffff !important;
}

/* line 84, ../../sass/themes/theme-default.scss */
ul.main-navigation-menu > li.open > a, ul.main-navigation-menu > li > a:hover, ul.main-navigation-menu > li:hover > a {
  background-color: #1e2129 !important;
}

/* line 87, ../../sass/themes/theme-default.scss */
ul.main-navigation-menu li.divider {
  background-color: #2d323e !important;
}

/* line 90, ../../sass/themes/theme-default.scss */
ul.main-navigation-menu li.dropdown-header, ul.main-navigation-menu .mega-menu-sub-title {
  color: #6e727c !important;
}

/* line 93, ../../sass/themes/theme-default.scss */
ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu a {
  color: white !important;
}
/* line 95, ../../sass/themes/theme-default.scss */
ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu a:hover {
  background: none !important;
}

/* line 99, ../../sass/themes/theme-default.scss */
ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li.active a, ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li.active a:hover, ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li.active a:focus {
  background-color: #171a20 !important;
  text-decoration: none;
}

/* line 103, ../../sass/themes/theme-default.scss */
ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li a:hover {
  background-color: #32353e !important;
  text-decoration: none;
}

/* line 108, ../../sass/themes/theme-default.scss */
#horizontal-menu .container {
  background: #22262F;
}
/* line 114, ../../sass/themes/theme-default.scss */
#horizontal-menu .navbar-collapse .navbar-nav > li > a {
  color: #8b95ab;
}
/* line 116, ../../sass/themes/theme-default.scss */
#horizontal-menu .navbar-collapse .navbar-nav > li > a:hover {
  color: white;
  background: #171a20;
}
/* line 120, ../../sass/themes/theme-default.scss */
#horizontal-menu .navbar-collapse .navbar-nav > li > a:active, #horizontal-menu .navbar-collapse .navbar-nav > li > a:focus {
  background: #0d0e11;
}
/* line 125, ../../sass/themes/theme-default.scss */
#horizontal-menu .navbar-collapse .navbar-nav > li.active > a {
  color: white;
  background: #e66b6b;
}
/* line 128, ../../sass/themes/theme-default.scss */
#horizontal-menu .navbar-collapse .navbar-nav > li.active > a:after {
  border-top-color: #e66b6b;
}
/* line 139, ../../sass/themes/theme-default.scss */
#horizontal-menu .dropdown-menu .active a {
  background-color: #5F8295;
}

/* line 145, ../../sass/themes/theme-default.scss */
.main-content {
  background: #DDDDDD;
}

/* line 148, ../../sass/themes/theme-default.scss */
.go-top {
  color: #ffffff;
}

/* line 151, ../../sass/themes/theme-default.scss */
.footer-inner {
  color: #ffffff;
}

/* line 155, ../../sass/themes/theme-default.scss */
#pageslide-left .slide-tools {
  background-color: #171a20;
}
/* line 158, ../../sass/themes/theme-default.scss */
#pageslide-left .btn {
  color: rgba(255, 255, 255, 0.3);
}
/* line 160, ../../sass/themes/theme-default.scss */
#pageslide-left .btn:hover {
  color: #ffffff;
  background-color: rgba(17, 19, 23, 0.4);
}
/* line 165, ../../sass/themes/theme-default.scss */
#pageslide-left .user-profile {
  border-color: #2d323e;
  position: relative;
}
/* line 168, ../../sass/themes/theme-default.scss */
#pageslide-left .user-profile h5 {
  color: #6e727c;
}
/* line 171, ../../sass/themes/theme-default.scss */
#pageslide-left .user-profile h4 {
  color: #ffffff;
}

/* line 176, ../../sass/themes/theme-default.scss */
.closedbar {
  background-color: #171a20 !important;
}
/* line 178, ../../sass/themes/theme-default.scss */
.closedbar:hover {
  background-color: #22262F !important;
}

/* line 183, ../../sass/themes/theme-default.scss */
#pageslide-right .pageslide-title {
  color: rgba(255, 255, 255, 0.4);
}
/* line 187, ../../sass/themes/theme-default.scss */
#pageslide-right .notifications a {
  color: rgba(255, 255, 255, 0.7);
  background: #1c1f26;
}
/* line 190, ../../sass/themes/theme-default.scss */
#pageslide-right .notifications a:hover {
  background: #171a20;
}
/* line 193, ../../sass/themes/theme-default.scss */
#pageslide-right .notifications a .time {
  color: #757575;
}
/* line 199, ../../sass/themes/theme-default.scss */
#pageslide-right .right-wrapper .nav-tabs li a {
  background: #22262F;
  border-bottom-color: #373e4d;
}
/* line 203, ../../sass/themes/theme-default.scss */
#pageslide-right .right-wrapper .nav-tabs li.active a {
  border-right-color: #373e4d;
  border-left-color: #373e4d;
  color: rgba(255, 255, 255, 0.9);
}
/* line 209, ../../sass/themes/theme-default.scss */
#pageslide-right .media-list .media {
  border-bottom: 1px solid #373e4d;
  margin: 0;
}
/* line 212, ../../sass/themes/theme-default.scss */
#pageslide-right .media-list .media .media-heading {
  color: #9bb2bf !important;
}
/* line 215, ../../sass/themes/theme-default.scss */
#pageslide-right .media-list .media a:hover {
  background: #373e4d;
}
/* line 218, ../../sass/themes/theme-default.scss */
#pageslide-right .media-list .media .status-online {
  color: #1FBBA6;
}
/* line 221, ../../sass/themes/theme-default.scss */
#pageslide-right .media-list .media .media-body span {
  color: #d5d9e1;
}
/* line 224, ../../sass/themes/theme-default.scss */
#pageslide-right .media-list .media label {
  color: #b8becb;
}
/* line 228, ../../sass/themes/theme-default.scss */
#pageslide-right .sidebar-title {
  color: rgba(255, 255, 255, 0.4);
}
/* line 231, ../../sass/themes/theme-default.scss */
#pageslide-right .sidebar-back {
  color: rgba(255, 255, 255, 0.4);
}
/* line 233, ../../sass/themes/theme-default.scss */
#pageslide-right .sidebar-back:hover {
  color: rgba(255, 255, 255, 0.6);
}

/* line 239, ../../sass/themes/theme-default.scss */
#style_selector_container .box-title {
  color: rgba(255, 255, 255, 0.8) !important;
}
/* line 242, ../../sass/themes/theme-default.scss */
#style_selector_container .images {
  border-bottom: 1px solid #2d323e;
}
/* line 244, ../../sass/themes/theme-default.scss */
#style_selector_container .images img.active {
  border: 2px solid #c6cbd6;
}

/* line 249, ../../sass/themes/theme-default.scss */
footer {
  background-color: #22262F;
}
