/*START FONT CSS*/
@font-face {
  font-family: "JosefinRegular";
  src:  url('../fonts/Josefin/JosefinSans-Regular.ttf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "JosefinLight";
  src:  url('../fonts/Josefin/JosefinSans-Light.ttf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "JosefinLightItalic";
  src:  url('../fonts/Josefin/JosefinSans-LightItalic.ttf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "JosefinSemiBold";
  src:  url('../fonts/Josefin/JosefinSans-SemiBold.ttf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "JosefinSemiBoldItalic";
  src:  url('../fonts/Josefin/JosefinSans-SemiBoldItalic.ttf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "JosefinBold";
  src:  url('../fonts/Josefin/JosefinSans-Bold.ttf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "Blackfat";
  src:  url('../fonts/Blackfat/Blackfat.ttf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "MontserratExtraLight";
  src:  url('../fonts/Montserrat/Montserrat-ExtraLight.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "MontserratLight";
  src:  url('../fonts/Montserrat/Montserrat-Light.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "MontserratRegular";
  src:  url('../fonts/Montserrat/Montserrat-Regular.ttf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "MontserratMedium";
  src:  url('../fonts/Montserrat/Montserrat-Medium.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "MontserratBold";
  src:  url('../fonts/Montserrat/Montserrat-Bold.ttf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "MontserratBlack";
  src:  url('../fonts/Montserrat/Montserrat-Black.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "ACaslonProRegular";
  src:  url('../fonts/ACaslonPro/ACaslonPro-Regular.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "ACaslonProSemibold";
  src:  url('../fonts/ACaslonPro/ACaslonPro-Semibold.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "ACaslonProBold";
  src:  url('../fonts/ACaslonPro/ACaslonPro-Bold.otf');
  -webkit-font-smoothing: antialiased;
}