.border-header {
    background: #fc8ba2; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(circle, #fc8ba2, #ffd4dd); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(circle, #fc8ba2, #ffd4dd); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, #fc8ba2, #ffd4dd); /* For Firefox 3.6 to 15 */
    background: radial-gradient(circle, #fc8ba2, #ffd4dd); /* Standard syntax */
    display: block;
    height: 30px;
}
.row-nav {
    display: table;
    padding: 0 15px;
    width: 100%;
}
.navigation-logo {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    padding: 0 15px;
}
.navigation-logo > a > img {
    max-width: 100%;
}
.part-navigation {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
    padding: 7px 0;
    border-top: double 7px #fecfd7;
    border-bottom: double 7px #fecfd7;
}
.all-nav {
    padding: 10px 0;
}
.navigation-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 70%;
}
.tools-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: right;
    width: 30%;
}
.navigation-list > li {
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
}
.navigation-list > li > .fa-circle {
    color: #fecfd7;
    font-size: 10px;
    position: relative;
    top: -1px;
}
.tools-list > li {
    display: inline-block;
    padding: 0 15px;
    vertical-align: middle;
}
.tools-account {
    border-right: solid 1px #fecfd7;
}
.nav-link {
    color: #5f5f5f;
    font-family: JosefinRegular;
    font-size: 15px;
}
.tools-cart > a > img {
    height: 24px;
    position: relative;
}
.tools-account > a {
    color: #5f5f5f;
    font-family: JosefinRegular;
    font-size: 15px;
}
.wrap-navigation {
    display: table;
    width: 100%;
}
.tools-cart > a {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.nav-link:hover,.nav-link:focus,.nav-link:active {
    color: #fc8fa6;
}
.tools-account > a:hover,.tools-account > a:focus,.tools-account > a:active {
    color: #fc8da4;
}
.search-link {
    color: black;
    font-size: 15px;
    position: relative;
    top: -1px;
}
.search-link:hover,.search-link:focus,.search-link:active {
    color: black;
}
.cart-total {
    color: #ffffff;
    font-family: JosefinRegular;
    font-size: 11px;
    display: inline-block;
    background-color: #fc8da4;
    text-align: center;
    vertical-align: middle;
    padding: 3px 8px;
    border-radius: 5px;
}
.tools-cart > a:hover > .cart-total,.tools-cart > a:focus > .cart-total,.tools-cart > a:active > .cart-total {
    background-color: #fdb3c2;
}
.tools-cart > a:hover > img, .tools-cart > a:focus > img, .tools-cart > a:active > img {
    opacity: 0.8;
}
.slider-image {
    text-align: center;
    display: block;
}
.slider-image > img {
    width: 100%;
}
.wrap-banner {
    padding: 50px 0;
}
.banner-home {
    display: block;
}
.banner-home > img {
    width: 100%;
}
.sproduct-headwrap {
    position: relative;
    padding: 0 15px;
    text-align: center;
}
.border-sproduct {
    border-top: solid 2px #fc8ba2;
}
.header-sproduct h3 {
    background: #fc8ba2;
    display: inline-block;
    font-family: Blackfat;
    color: #ffffff;
    font-size: 30px;
    padding: 5px 30px;
    position: relative;
    top: -27px;
    line-height: normal;
}
.header-sproduct {
    margin: 30px 0;
}
.col-sproduct {
    margin-bottom: 30px;
}
.sproduct-image {
    display: block;
    width: 100%;
    padding-bottom: 100%;
    outline: none !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sproduct-title {
    text-align: center;
    margin: 20px 0;
}
.sproduct-title > a {
    font-family: JosefinSemiBold;
    font-size: 18px;
    color: #000000;
}
.sproduct-price {
    text-align: center;
}
.sproduct-price > .old {
    font-family: JosefinBold;
    color: #b9b9b9;
    font-size: 16px;
    text-decoration: line-through;
    display: block; 
}
.sproduct-price > .new {
    font-family: JosefinBold;
    color: #fc8ba2;
    font-size: 18px;
    display: block;
}
.sproduct-title > a:hover,.sproduct-title > a:focus,.sproduct-title > a:active {
    color: #fc8ba2;
}
.sproduct-image:hover,.sproduct-image:focus,.sproduct-image:active {
    opacity: 0.8;
}
.row-footer {
    display: table;
    width: 100%;
    position: relative;
}
.col-footer-left {
    display: inline-block;
    padding: 0 15px;
    width: 30%;
    vertical-align: middle;
}
.col-footer-center {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
}
.col-footer-right {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding: 0 15px;
}
.footer-profil {
    text-align: center;
}
.footer-logo {
    display: inline-block;
}
.footer-logo> img {
    max-width: 100%;
    width: 150px;
}
.footer-social {
    text-align: left;
}
.footer-social > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
.footer-social > a > img {
    height: 30px;
}
.footer-head {
    font-family: Blackfat;
    font-size: 20px;
    margin-bottom: 15px;
}
.col-footer-center > .footer-head {
    text-align: center;
}
.footer-contact {
    text-align: center;
}
.footer-contact > span {
    font-family: JosefinBold;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}
.footer-link {
    text-align: center;
    margin: 0;
    padding: 0;
}
.footer-link > li {
    display: block;
    margin-bottom: 5px;
}
.footer-link > li > a {
    font-family: JosefinBold;
    color: #333;
    font-size: 16px;
}
.footer-wrap {
    margin: 80px 0 0 0;
    padding: 30px 0;
    background-image: url('../img/volia-footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.footer-desc {
    font-family: JosefinBold;
    color: #333;
    font-size: 14px;
    margin: 5px 0 0 0;
    width: 300px;
    max-width: 100%;
}
.footer-link > li > a:hover,.footer-link > li > a:focus,.footer-link > li > a:active {
    color: #f2708e;
}
.banner-home:hover,.banner-home:focus,.banner-home:active {
    opacity: 0.8;
}
.dropdown-menufun {
    border: solid 1px #feafc0;
    padding: 0;
    margin: 0;
    min-width: 140px;
    top: 140%;
}
.dropdown-menufun > li > a {
    font-family: JosefinRegular;
    color: #fdafbf;
    text-align: center;
    font-size: 15px;
}
.dropdown-menufun > li {
    border-bottom: solid 1px #feafc0;
}
.dropdown-menufun > li > a:hover,.dropdown-menufun > li > a:focus,.dropdown-menufun > li > a:active {
    background-color: black;
    color: #FFFFFF;
}
.dropdown-menuaccount {
    border: solid 1px #feafc0;
    padding: 0;
    margin: 0;
    min-width: 140px;
    top: 140%;
}
.dropdown-menuaccount > li > a {
    font-family: JosefinRegular;
    color: #fdafbf;
    text-align: center;
    font-size: 15px;
}
.dropdown-menuaccount > li {
    border-bottom: solid 1px #feafc0;
}
.dropdown-menuaccount > li > a:hover,.dropdown-menuaccount > li > a:focus,.dropdown-menuaccount > li > a:active {
    background-color: #fdafbf;
    color: #FFFFFF;
}
.mobile-dropdown{
    display: none;
}
.mobile-link {
    display: block;
    padding: 5px 15px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.38);
    font-family: MontserratLight;
    color: #000;
    font-size: 15px;
}
.dropdown-child {
    margin: 0;
    padding: 0;
    display: none;
}
.dropdown-child > li {
    display: block;
}
.dropdown-child > li > a {
    display: block;
    padding: 3px 20px;
    font-size: 13px;
    font-family: JosefinRegular;
    border-bottom: solid 1px #fecfd7;
    color: #fc8da4;
}
.mobile-link:hover,.mobile-link:focus,.mobile-link:active {
    background-color: #000;
    color: #FFFFFF;
}
.dropdown-child > li > a:hover,.dropdown-child > li > a:focus,.dropdown-child > li > a:active {
    background-color: #fc8da4;
    color: #FFFFFF;
}
.mobile-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 3px;
    vertical-align: middle;
    border-top: 8px dashed;
    border-top: 4px solid \9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: relative;
    top: -2px;
    color: #fecfd7;
}
.msearch-wrap {
    position: relative;
}
.minput-search {
    border: 0;
    border-radius: 0;
    border-bottom: solid 1px #fecfd7 !important;
    font-family: JosefinRegular;
    outline: none !important;
    box-shadow: none !important;
    padding: 6px 35px 6px 12px;
    color: #8d8d8d;
}
.msearch-wrap > .fa {
    position: absolute;
    top: 7px;
    right: 15px;
    font-size: 18px;
    color: #fecfd7;
}
@media(min-width: 767px){
    .mobile-dropdown{
        display: none !important;
    }
}
@media(max-width: 991px){
    .container-chev {
        width: 100%;
    }
    .border-header {
        height: 10px;
    }
    .navigation-logo {
        display: block;
        width: 100%;
    }
    .row-nav {
        text-align: center;
        padding: 0;
    }
    .navigation-logo > a{
        display: inline-block;
    }
    .navigation-logo > a > img {
        width: 150px;
        max-width: 100%;
        margin: 0;
    }
    .all-nav {
        padding: 0;
    }
    .part-navigation {
        display: block;
        width: 100%;
    }
    .navigation-list {
        text-align: left;
    }
    .wrap-navigation {
        padding: 0 15px;
    }
    .sproduct-box {
        width: 767px;
        max-width: 100%;
        margin: 0 auto;
    }
}
@media(max-width: 767px){
    .col-sproduct{
        width: 50% !important;
    }
    .sproduct-title{
        margin: 10px 0;
    }
    .sproduct-title > a{
        font-size: 16px;
    }
    .wrap-banner {
        padding: 30px 0;
    }
    .banner-home {
        width: 400px;
        max-width: 100%;
        margin: 0 auto 30px auto;
    }
    .header-sproduct h3 {
        font-size: 20px;
        top: -20px;
    }
    .row-footer {
        display: block;
        width: 400px;
        margin: 0 auto;
        max-width: 100%;
    }
    .col-footer-left {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .footer-desc {
        margin: 20px auto 30px auto;
        width: 100%;
    }
    .col-footer-center {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .col-footer-right {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .footer-wrap {
        margin: 0;
    }
    .footer-social {
        text-align: center;
    }
    .footer-social > a {
        margin: 0 10px;
    }
    .navigation-mobile {
        display: inline-block !important;
    }
    .navigation-mobile {
        width: 30%;
        text-align: left;
        margin: 0;
        padding: 0;
        vertical-align: middle;
    }
    .navigation-mobile > li {
        display: inline-block;
    }
    .mobile-menu {
        font-size: 22px;
        color: #8d8d8d;
        padding: 0 10px;
        display: inline-block;
        border-radius: 5px;
    }
    .mobile-menu:hover,.mobile-menu:focus,.mobile-menu:active {
        color: #fc8da4;
    }
    .wrap-navigation {
        text-align: left;
        padding: 0 5px;
    }
    .tools-list {
        width: 70%;
    }
    .part-navigation {
        padding: 3px 0;
    }
    .mobile-tools{
        display: inline-block !important;
        padding: 0 10px !important;
    }
    .tools-cart {
        border-left: solid 1px #fecfd7;
    }
    .maccount-link {
        display: inline-block;
        font-size: 20px;
        color: #8d8d8d;
    }
    .maccount-active {
        color: #fc8da4 !important;
    }
    .msearch-link {
        display: inline-block;
        font-size: 18px;
        color: #8d8d8d;
    }
    .msearch-link:hover,.msearch-link:focus,.msearch-link:active {
        color: #fc8da4;
    }
    .maccount-link:hover,.maccount-link:focus,.maccount-link:active {
        color: #fc8da4;
    }
}
@media(max-width: 400px){
    .col-sproduct{
        width: 100% !important;
        height: auto !important;
    }
}
.breadcrumb-list {
    margin: 0;
    display: block;
    margin-bottom: 20px;
    padding: 0 15px;
}
.breadcrumb-list > li {
    display: inline-block;
    margin-right: 8px;
}
.breadcrumb-list > li > a {
    display: block;
    color: #5f5f5f;
    font-size: 16px;
    font-family: JosefinRegular;
}
.breadcrumb-list > li > .fa {
    display: block;
    color: #5f5f5f;
    font-size: 16px;
}
.breadcrumb-list > li > a:hover,.breadcrumb-list > li > a:focus,.breadcrumb-list > li > a:active {
    color: #fc8da4;
}
.about-banner {
    text-align: center;
    margin-bottom: 30px;
    padding: 0 15px;
}
.about-banner > img {
    width: 100%;
}
.about-desc {
    color: #444444;
    font-family: JosefinSemiBold;
    font-size: 16px;
    margin-bottom: 30px;
    padding: 0 15px;
}
.about-desc iframe {
    max-width:100%;
}
.about-desc img {
    max-width:100%;
}
.about-headwrap {
    position: relative;
    padding: 0 15px;
    text-align: center;
}
.border-about {
    border-top: solid 2px #fc8ba2;
}
.header-about h3 {
    background: #fc8ba2;
    display: inline-block;
    font-family: Blackfat;
    color: #ffffff;
    font-size: 30px;
    padding: 5px 30px;
    position: relative;
    top: -27px;
    line-height: normal;
}
.header-about {
    margin: 30px 0;
}
.faq-headwrap {
    position: relative;
    padding: 0 15px;
    text-align: center;
}
.border-faq {
    border-top: solid 2px #fc8ba2;
}
.header-faq h3 {
    background: #fc8ba2;
    display: inline-block;
    font-family: Blackfat;
    color: #ffffff;
    font-size: 30px;
    padding: 5px 30px;
    position: relative;
    top: -27px;
    line-height: normal;
}
.header-faq {
    margin: 30px 0 10px 0;
}
.faq-desc {
    color: #444444;
    font-family: JosefinSemiBold;
    font-size: 16px;
    margin-bottom: 30px;
    padding: 0 15px;
}
.faq-desc iframe {
    max-width:100%;
}
.faq-desc img {
    max-width:100%;
}
.row-team {
    display: table;
    width: 100%;
}
.col-team {
    display: inline-block;
    width: 50%;
    margin-bottom: 30px;
    vertical-align: top;
    padding: 0 15px;
}
.wrap-team {
    display: table;
    width: 100%;
}
.team-image {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding-bottom: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.team-content {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    padding-left: 15px;
}
.team-title {
    font-family: JosefinBold;
    font-size: 20px;
    margin-bottom: 3px;
}
.team-job {
    font-family: JosefinSemiBoldItalic;
    font-size: 18px;
    margin-bottom: 5px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 5px;
}
.team-desc {
    font-family: JosefinRegular;
    font-size: 16px;
    margin-bottom: 10px;
    color: #444444;
}
.team-social > a {
    display: inline-block;
    margin: 0 5px;
}
.team-social > a > img {
    height: 20px;
}
@media(max-width: 991px){
    .breadcrumb-list{
        margin: 20px 0;
    }
}
@media(max-width: 767px){
    .header-about h3 {
        font-size: 20px;
        top: -20px;
    }
    .header-faq h3 {
        font-size: 20px;
        top: -20px;
    }
    .col-team {
        height: auto !important;
        display: block;
        width: 100%;
    }
    .wrap-team {
        width: 100%;
        display: table;
        max-width: 500px;
        margin: 0 auto;
    }
}
@media(max-width: 500px){
    .team-image {
        display: block;
        width: 150px;
        padding: 0;
        height: 150px;
        margin: 0 auto;
    }
    .team-content {
        display: block;
        width: 100%;
        text-align: center;
        margin: 5px 0 0 0;
    }
    .wrap-team {
        display: block;
        width: 300px;
        max-width: 100%;
        margin: 0 auto;
    }
}
.product-headwrap {
    position: relative;
    padding: 0 15px;
    text-align: center;
}
.border-product {
    border-top: solid 2px #fc8ba2;
}
.header-product h3 {
    background: #fc8ba2;
    display: inline-block;
    font-family: Blackfat;
    color: #ffffff;
    font-size: 30px;
    padding: 5px 30px;
    position: relative;
    top: -27px;
    line-height: normal;
}
.header-product {
    margin: 30px 0;
}
.col-product {
    margin-bottom: 30px;
}
.product-image {
    display: block;
    width: 100%;
    padding-bottom: 100%;
    outline: none !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-title {
    text-align: center;
    margin: 10px 0;
}
.product-title > a {
    font-family: JosefinSemiBold;
    font-size: 18px;
    color: #000000;
}
.product-price {
    text-align: center;
}
.product-price > .old {
    font-family: JosefinBold;
    color: #b9b9b9;
    font-size: 14px;
    text-decoration: line-through;
    display: block;
}
.product-price > .new {
    font-family: JosefinBold;
    color: #d0041d;
    font-size: 18px;
    display: block;
}
.product-title > a:hover,.product-title > a:focus,.product-title > a:active {
    color: #fc8ba2;
}
.product-image:hover,.product-image:focus,.product-image:active {
    opacity: 0.8;
}
.pbanner-wrap {
    display: table;
    width: 100%;
    margin-bottom: 30px;
}
.product-banner {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    padding: 0 15px;
}
.product-best {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding: 0 15px;
}
.product-banner > a {
    display: block;
}
.product-banner > a > img {
    width: 100%;
}
.pbest-wrap {
    border: solid 2px #fc8ba2;
    padding: 0 15px 10px 15px;
    text-align: center;
}
.pbest-head {
    background: #fc8ba2;
    display: inline-block;
    font-family: Blackfat;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 30px;
    position: relative;
    top: -19px;
    line-height: normal;
}
.pbest-link {
    display: block;
}
.pbest-img {
    text-align: center;
    width: 250px;
    max-width: 100%;
    margin: 0 auto 10px auto;
}
.pbest-img > img {
    width: 100%;
}
.pbest-title {
    font-family: JosefinSemiBold;
    font-size: 18px;
    color: #000000;
    line-height: normal;
}
.pbest-link:hover > .pbest-title,.pbest-link:focus > .pbest-title,.pbest-link:active > .pbest-title {
    color:#fc8ba2;
}
.pbest-link:hover > .pbest-img,.pbest-link:focus > .pbest-img,.pbest-link:active > .pbest-img {
    opacity:0.8;
}
.pbest-priceold {
    font-family: JosefinBold;
    color: #b9b9b9;
    font-size: 14px;
    text-decoration: line-through;
    display: block;
    margin: 3px 0 0 0;
}
.pbest-bottom {
    display: table;
    width: 100%;
    margin: 5px 0 0 0;
}
.pbest-price {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.pbest-buy {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 0 10px;
}
.pbest-price > span {
    font-family: JosefinBold;
    color: #fc8ba2;
    font-size: 16px;
    display: block;
}
.pbest-button {
    font-family: JosefinBold;
    color: #ffffff;
    font-size: 14px;
    display: block;
    background-color: #fc8ba2;
    padding: 3px 25px 3px 5px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    background-image: url(../img/purse.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 85% 4px;
}
.pbest-button > img {
    height: 16px;
    position: relative;
    top: -4px;
    margin-left: 4px;
}
.pbest-button:hover,.pbest-button:focus,.pbest-button:active {
    color: #FFFFFF;
    background-color: #ea6c86;
}
.pbuy-button {
    font-family: JosefinBold;
    color: #ffffff;
    font-size: 13px;
    display: inline-block;
    background-color: #fc8ba2;
    padding: 3px 30px 3px 12px;
    border-radius: 5px;
    text-align: center;
    background-image: url(../img/purse.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 43px 3px;
}
.product-buy {
    margin: 10px 0 0 0;
    text-align: center;
}
.pbuy-button > img {
    height: 16px;
    position: relative;
    top: -3px;
    margin-left: 2px;
}
.pbuy-button:hover,.pbuy-button:focus,.pbuy-button:active {
    color: #FFFFFF;
    background-color: #ea6c86;
}
.product-pagination {
    margin: 20px 0;
    padding: 0 15px;
    text-align: center;
}
.product-pagination > ul {
    margin: 0;
    padding: 0;
}
.product-pagination > ul > li {
    display: inline-block;
    margin: 0 2px;
}
.product-pagination > ul > li > a {
    color: #fc8ba2;
    font-size: 14px;
    display: block;
    text-align: center;
    padding: 3px 10px;
    background-color: #ffffff;
    border-radius: 5px;
    border: solid 1px #fc8ba2;
}
.product-pagination > ul > li > .active {
    color: #FFFFFF;
    background-color: #fc8ba2;
}
.product-pagination > ul > li > a:hover,.product-pagination > ul > li > a:focus,.product-pagination > ul > li > a:active {
    color: #FFFFFF;
    background-color: #fc8ba2;
}
@media(max-width: 991px){
    .pbanner-wrap {
        margin: 30px 0;
        display: block;
    }
    .product-banner {
        display: block;
        width: 767px;
        max-width: 100%;
        margin: 0 auto;
    }
    .product-best {
        display: none;
    }
    .product-box {
        width: 767px;
        margin: 0 auto;
        max-width: 100%;
    }
}
@media(max-width: 767px){
    .col-product{
        width: 50% !important;
    }
    .product-title{
        margin: 10px 0;
    }
    .product-title > a{
        font-size: 16px;
    }
    .header-product h3 {
        font-size: 18px;
        top: -18px;
    }
}
@media(max-width: 400px){
    .col-product{
        width: 100% !important;
        height: auto !important;
    }
}
.product-detail {
    margin-bottom: 30px;
}
.row-pdetail {
    display: table;
    width: 100%;
    position: relative;
}
.col-pdetail {
    display: inline-block;
    width: 50%;
    padding: 0 15px;
    vertical-align: top;
}
.pdetail-title {
    font-family: JosefinBold;
    font-size: 30px;
    margin-bottom: 10px;
}
.pdetail-price > .old {
    font-family: JosefinBold;
    color: #b9b9b9;
    font-size: 14px;
    text-decoration: line-through;
    display: block;
}
.pdetail-price > .new {
    font-family: JosefinBold;
    color: #d0041d;
    font-size: 20px;
    display: block;
}
.pdetail-price {
    position: relative;
    margin-bottom: 15px;
}
.pdetail-number {
    width: 50px;
    padding: 6px 3px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.pdetail-input > span {
    color: #58772b;
    font-family: JosefinBold;
    font-size: 16px;
    margin-left: 3px;
}
.pdetail-button {
    font-family: JosefinBold;
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    background-color: #fc8ba2;
    padding: 4px 35px 4px 15px;
    border-radius: 3px;
    text-align: center;
    background-image: url(../img/purse.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 80% 6px;
}
.pdetail-button > img {
    height: 16px;
    position: relative;
    top: -3px;
    margin-left: 3px;
}
.pdetail-input {
    margin-bottom: 15px;
}
.pdetail-buy {
    margin-bottom: 20px;
}
.pdetail-button:hover,.pdetail-button:focus,.pdetail-button:active {
    color: #FFFFFF;
    background-color: #ea6c86;
}
.pdetail-share {
    padding-bottom: 15px;
    border-bottom: solid 1px #ccc;
    margin-bottom: 15px;
}
.pdetail-share > a {
    display: inline-block;
    margin-right: 15px;
}
.pdetail-share > a > img {
    height: 20px;
}
.pdetail-desc {
    font-family: JosefinRegular;
    font-size: 16px;
    margin-bottom: 15px;
}
.pdetail-ship {
    margin-bottom: 15px;
}
.pdetail-ship > .head {
    font-family: JosefinBold;
    font-size: 20px;
}
.pdetail-ship > .head > img {
    height: 20px;
    position: relative;
    top: -3px;
    margin-right: 3px;
}
.pdetail-ship > .desc {
    font-family: JosefinSemiBold;
    font-size: 16px;
}
.pdetail-ship > .note {
    font-family: JosefinRegular;
    font-style: italic;
}
.productswiper-slide {
    width: 100% !important;
}
.productswiper-image{
    display: block;
    text-align: center;
}
.productswiper-container {
    border: solid 2px #fc8fa5;
}
.pdetail-slider {
    padding: 0 30px;
    position: relative;
}
.productswiper-image > img {
    width: 100%;
}
.pdetail-prev {
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 3;
    font-size: 50px;
    color: #fc8fa5;
    cursor: pointer;
}
.pdetail-next {
    position: absolute;
    top: 45%;
    right: 0;
    font-size: 50px;
    z-index: 3;
    color: #fc8fa5;
    cursor: pointer;
}
.productthmb-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 100%;
    width: 100%;
    cursor: pointer;
}
.productthmb-box {
    padding: 20px 30px;
}
@media(max-width: 767px){
    .row-pdetail {
        display: block;
    }
    .col-pdetail {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
    .pdetail-wrap {
        margin: 10px 0 0 0;
    }
    .pdetail-title {
        font-size: 20px;
        padding: 0 15px;
        margin: 15px 0;
    }
}
.alert-cart {
    position: fixed;
    top: 30%;
    left: 0;
    width: 100%;
    z-index: 10;
    display: none;
}
.alcart-row {
    text-align: center;
    padding: 0 15px;
}
.alcart-wrap {
    display: inline-block;
    background: #fc8ba2;
    background: -webkit-radial-gradient(circle, #fc8ba2, #ffd4dd);
    background: -o-radial-gradient(circle, #fc8ba2, #ffd4dd);
    background: -moz-radial-gradient(circle, #fc8ba2, #ffd4dd);
    background: radial-gradient(circle, #fc8ba2, #ffd4dd);
    min-height: 50px;
    padding: 20px;
    font-family: JosefinBold;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 10px;
}
.table-cart {
    padding: 0 15px;
}
.cart-img {
    display: inline-block;
    margin: 0 auto;
}
.table-cart td {
    text-align: center;
    vertical-align: middle !important;
    font-family: JosefinRegular;
    font-size: 15px;
    color: #010101;
}
.cart-img > img {
    width: 150px;
    height: 150px;
    border: solid 1px #ddd;
}
.table-cart th {
    font-family: JosefinBold;
    text-align: center;
    font-size: 16px;
    color: #fc8da4;
    font-weight: normal !important;
}
.cart-title {
    color: #010101;
    font-size: 15px;
}
.cart-title:hover,.cart-title:focus,.cart-title:active {
    color: #fc8da4 !important;
}
.group-cart {
    width: 150px;
    margin: 0 auto;
}
.table-checkout{
    padding: 0 15px;
}
.table-checkout th {
    color: #fc8da4;
    font-weight: normal;
    font-size: 16px;
    font-family: JosefinBold;
}
.table-checkout a {
    color: #010101;
}
.table-checkout a:hover {
    color: #fc8da4;
}
.table-checkout td {
    color: #010101;
    font-family: JosefinRegular;
    font-size: 15px;
}
.btn-continue {
    background-color: #4a4a4a;
    color: #FFFFFF !important;
    font-family: JosefinRegular;
    font-size: 15px;
}
.btn-continue > i {
    position: relative;
    top: 2px;
    margin-right: 3px;
}
.btn-checkout {
    background-color: #fc8da4;
    color: #FFF;
    font-size: 15px;
    font-family: JosefinRegular;
}
.btn-checkout > i {
    position: relative;
    top: 2px;
    margin-left: 3px;
}
.cbtn-wrap {
    display: table;
    width: 100%;
}
.col-cbtn {
    display: inline-block;
    width: 50%;
    padding: 0 15px;
}
.cbtn-checkout {
    text-align: right;
}
.cart-btn {
    margin: 30px 0 0 0;
}
.btn-checkout:hover,.btn-checkout:focus,.btn-checkout:active {
    color: #FFFFFF;
    background-color: #fb9eb1;
}
.btn-continue:hover,.btn-continue:focus,.btn-continue:active {
    color: #FFFFFF;
    background-color: #656565;
}
.header-part {
    position: relative;
    height: 30px;
    margin: 50px 0 20px 0;
    padding: 0 15px;
}
.hpart-border {
    border-bottom: solid 1px #fc8da4;
}
.hpart-title {
    color: #fc8da4;
    position: absolute;
    top: -14px;
    left: 0;
    width: 100%;
    text-align: center;
}
.hpart-title > h1 {
    padding: 5px 20px;
    background-color: #FFF;
    font-size: 18px;
    font-family: JosefinRegular;
    display: inline-block;
}
.thumbnail-address{
    min-height: 170px;
}
.thumbnail-add {
    min-height: 170px;
}
.thumbnail-add > .fa-plus {
    color: #b7b7b7;
    font-size: 70px;
    margin: 25px 0 0 0;
}
.thumbnail-add > .title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #b7b7b7;
}
.thumbnail-address:hover{
  background-color: #f1f1f1 !important;
}
.thumbnail-add:hover{
  background-color: #f1f1f1 !important;
}
@media(max-width: 767px){
    .thumbnail-address{
        min-height: 150px;
    }
    .thumbnail-add{
        min-height: 140px;
    }
}
.thumbnail-address > address{
    padding: 15px;
    margin: 0;
}
.radio-address:checked + .thumbnail-address {
  background-color: #f1f1f1 !important;
}
.add-address {
    text-align: center;
    display: block;
    margin: 10px 0;
    padding-left: 20px;
}
.mbody-address strong {
    font-family: JosefinBold;
    font-size: 16px;
    font-weight: normal;
}
.alert-section {
    position: fixed;
    top: 30%;
    left: 0;
    width: 100%;
    z-index: 10;
}
.alert-row {
    text-align: center;
    padding: 0 15px;
}
.alert-wrap {
    display: inline-block;
    background: #fc8ba2;
    background: -webkit-radial-gradient(circle, #fc8ba2, #ffd4dd);
    background: -o-radial-gradient(circle, #fc8ba2, #ffd4dd);
    background: -moz-radial-gradient(circle, #fc8ba2, #ffd4dd);
    background: radial-gradient(circle, #fc8ba2, #ffd4dd);
    min-height: 50px;
    padding: 20px;
    font-family: JosefinBold;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 10px;
}
.alert-panel {
    padding: 5px 10px;
    background-color: #fc8ba2;
    font-size: 14px;
    font-family: JosefinBold;
    margin-bottom: 10px;
    display: none;
    color: #FFF;
}
.account-list {
    margin: 0;
    padding: 0;
    border: solid 1px #ddd;
    border-bottom: solid 0px #ddd;
    border-radius: 4px;
}
.account-list> li {
    display: block;
}
.account-list > li > a {
    padding: 7px 15px;
    display: block;
    border-bottom: solid 1px #ddd;
    color: #000000;
    font-family: JosefinBold;
    font-size: 14px;
}
.account-wrap {
    background-color: transparent;
}
.account-wrap > h2 {
    font-size: 24px;
    font-family: JosefinBold;
    color: #010101;
    margin-bottom: 15px;
}
.control-label {
    font-size: 15px;
    font-family: JosefinBold;
    margin-bottom: 5px;
}
.account-wrap .btn-primary {
    background-color: #fc8ba2;
    border-color: #fc8ba2;
}
.account-list > li > a:hover,.account-list > li > a:focus,.account-list > li > a:active {
    background-color: #ea6c86;
    color: #FFFFFF;
}
.account-wrap .btn-primary:hover,.account-wrap .btn-primary:focus,.account-wrap .btn-primary:active {
    color: #ea6c86 !important;
    background-color: #FFFFFF !important;
}
.sidebar-account {
    margin-bottom: 30px;
}
.modal-dialog-forgotpwd {
    margin-top: 10%;
}
.color-pink {
    color: #e89a45 !important;
}
.h5-login {
    font-family: JosefinSemiBold;
    font-size: 16px;
}
.hr-login {
    border-top: solid 4px #e89a45 !important;
    width: 200px;
    float: left;
    margin-bottom: 30px !important;
}
.h3-login {
    font-family: JosefinSemiBold;
    padding: 0 15px;
    margin-bottom: 20px;
    font-size: 25px;
}
.register-form {
    border: solid 1px #fc8da4;
}
.padding-20 {
    padding: 20px;
}
.register-form label {
    font-family: JosefinRegular;
    font-size: 14px;
}
.form-gray {
    height: 25px;
    border-radius: 0;
    background-color: #ddd;
    font-size: 12px;
    padding: 3px 12px  !important;
}
.hr-register {
    border-top: solid 1px #fc8da4;
    margin: 0 15px;
}
.btn-pink {
    background-color: #fc8da4;
    border-color: #fc8da4;
    border-radius: 0 !important;
    color: #FFF;
    font-family: JosefinRegular;
    float: right;
}
.login-form label {
    font-family: JosefinRegular;
    font-size: 14px;
    color: #FFF;
}
.login-form {
    background-color: #fc8da4;
    margin-bottom: 30px;
}
.color-white {
    color: #FFFFFF;
}
.forgot-pass {
    color: #FFF !important;
    float: right;
    font-family: JosefinRegular;
}
.btn-white {
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 0 !important;
    color: #131313;
    font-family: JosefinRegular;
    float: right;
}
.modal-header-forgotpwd {
    background-color: #fc8da4;
    padding: 5px 10px;
}
.modal-header-forgotpwd > .close {
    opacity: 1;
}
.modal-header-forgotpwd > .close > span > img {
    width: 25px;
}
.modal-body-forgotpwd > .h3-login {
    padding: 0;
    text-transform: capitalize;
}
.p-forgotpwd {
    font-size: 13px;
    font-family: JosefinRegular;
    margin: 10px 0 20px 0;
}
.modal-footer-forgotpwd {
    border: 0 !important;
}
.modal-content-forgotpwd {
    border-radius: 0 !important;
}
.btn-black {
    border-radius: 0;
    background-color: #3a3a3c;
    border-color: #3a3a3c;
    color: #FFF;
    font-family: JosefinSemiBold;
    font-size: 14px;
}
.modal-footer-forgotpwd button {
    padding: 8px 30px;
}
.login-form .btn-white {
    float: left !important;
}
.login-facebook > a {
    background-color: #4286c1;
}
.login-google > a {
    background-color: #f26039;
}
.login-social > a {
    display: inline-block;
    padding: 6px 15px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: JosefinRegular;
    width: 250px;
    text-align: center;
}
.login-social > a:hover,.login-social > a:focus,.login-social > a:active{
    opacity: 0.8;
}
.login-social > a > img {
    height: 17px;
    margin-right: 5px;
    position: relative;
    top: -2px;
}
.login-social {
    display: inline-block;
    margin: 15px 10px 0 0;
}
.login-social-head {
    font-family: JosefinSemiBold;
    font-size: 20px;
    color: #4f4f4f;
}
.social-login-box {
    margin: 0 0 30px 0;
}
@media(max-width: 500px){
    .login-social-head{
        text-align: center;
    }
    .login-social {
        display: block;
    }
    .login-social > a{
        width: 100%;
    }
}
.tracking-head {
    font-family: JosefinBold;
    font-size: 18px;
    color: #404141;
}
.tracking-stat {
    font-family: JosefinBold;
    text-align: center;
    background-color: #fc8da4;
    color: #FFF;
    padding: 6px;
    font-size: 16px;
    margin: 20px 0;
    letter-spacing: 0.5px;
}
.title-table {
    font-family: JosefinSemiBold !important;
}
.tracking-detail td {
    font-family: JosefinRegular;
    font-size: 14px;
}
.tracking-detail th {
    font-family: JosefinBold;
    font-size: 16px;
}
.tracking-thead {
    font-family: JosefinBold;
    font-size: 16px;
    margin: 20px 0 5px 0;
}
.resi-error {
    font-size: 16px;
    font-family: JosefinBold;
    margin: 30px 0;
    text-align: center;
}
.thank-head {
    font-size: 30px;
    font-family: JosefinBold;
    text-align: center;
    color: #fc8da4;
    margin-bottom: 15px;
}
.confirm-wrapper strong {
    font-size: 16px;
    font-family: JosefinBold !important;
    font-weight: normal !important;
}
.confirm-wrapper {
    width: 800px;
    max-width: 100%;
    margin: auto;
    border: solid 2px #fc8da4;
    padding: 20px;
    border-radius: 5px;
}
.confirm-wrapper hr {
    margin: 15px 0 30px 0  !important;
    border-color: #fc8da4;
}
.thank-content {
    font-family: JosefinSemiBold;
    font-size: 16px;
    margin: 30px 0;
}
.thank-content strong {
    color: #fc8da4;
}
.checkout-wrapper {
    margin: 30px 0;
}
.price-old {
    position: absolute;
    left: 10px;
    top: -14px;
    text-decoration: line-through;
    color: #fb9eb1;
    font-size: 12px;
}
.pdetail-price > .price-old {
    left: 0;
}
@media(max-width: 767px){
    .thank-head{
        font-size: 24px !important;
    }
    .confirm-wrapper{
        padding: 20px 0 !important;
    }
    .price-old {
        font-size: 11px;
    }
}
.thank-thead {
    font-family: JosefinBold;
    font-size: 20px;
}
.sc-head {
    font-family: JosefinBold;
    text-align: center;
    font-size: 30px;
    color: #fc8da4;
    margin-bottom: 20px;
}
.sc-content {
    text-align: center;
    font-family: JosefinSemiBold;
    font-size: 18px;
}
.sc-name > span {
    font-family: JosefinBold;
    color: #fc8da4;
}
.sc-desc {
    margin: 10px 0 0 0;
}
.pdetail-snote {
    font-family: JosefinBold;
    font-size: 15px;
}
.voucher-submit{
    background-color: #eaeaea !important;
    pointer-events: none !important;
    cursor: not-allowed !important;
}
.alert-voucher {
    font-size: 12px;
    color: red;
    font-style: italic;
    display: none;
    margin: 5px 0 0 0;
    text-align: center;
}
.alert-voucher.green {
    color: green;
}
.copyright-text {
    text-align: center;
    padding-top: 8px;
    color: #fff;
    font-family: JosefinRegular;
    font-size: 12px;
}

/*START HERE*/
/*MARGIN*/
.margin-top-50 {
    margin-top: 50px;
}
.margin-top-65 {
    margin-top: 65px;
}
.margin-top-70 {
    margin-top: 70px;
}
.margin-right-5 {
    margin-right: 5px;
}
.margin-right-100 {
    margin-right: 100px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}
.margin-bottom-100 {
    margin-bottom: 100px;
}
.margin-bottom-min35 {
    margin-bottom: -35px;
}
.margin-bottom-min50 {
    margin-bottom: -50px;
}
.margin-left-5 {
    margin-left: 5px;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-left-15 {
    margin-left: 15px;
}
.margin-left-20 {
    margin-left: 20px;
}
.margin-left-50 {
    margin-left: 50px;
}
.margin-left-100 {
    margin-left: 100px;
}
.margin-left-110 {
    margin-left: 110px;
}
.margin-left-min35 {
    margin-left: -35px;
}
.margin-left-min40 {
    margin-left: -40px;
}
@media(max-width: 767px) {
    .margin-top-xs-0 {
        margin-top: 0px !important;
    }
    .margin-top-xs-10 {
        margin-top: 10px !important;
    }
    .margin-top-xs-20 {
        margin-top: 20px !important;
    }
    .margin-top-xs-35 {
        margin-top: 35px !important;
    }
    .margin-top-xs-min30 {
        margin-top: -30px !important; 
    }
    .margin-right-xs-auto {
        margin-right: auto !important;
    }
    .margin-bottom-xs-0 {
        margin-bottom: 0px !important;
    }
    .margin-bottom-xs-10 {
        margin-bottom: 10px !important;
    }
    .margin-bottom-xs-15 {
        margin-bottom: 15px !important;
    }
    .margin-bottom-xs-20 {
        margin-bottom: 20px !important;
    }
    .margin-bottom-xs-50 {
        margin-bottom: 50px !important;
    }
    .margin-bottom-xs-min10 {
        margin-bottom: -10px !important;
    }
    .margin-left-xs-auto {
        margin-left: auto !important;
    }
}
@media(min-width: 768px) {
    .margin-bottom-sm-60 {
        margin-bottom: 60px;
    }
}
@media(max-width: 991px) {
    .margin-bottom-sm-50 {
        margin-bottom: 50px;
    }
}

/*PADDING*/
.padding-top-1 {
    padding-top: 1px;
}
.padding-top-5 {
    padding-top: 5px;
}
.padding-top-8 {
    padding-top: 8px;
}
.padding-top-20 {
    padding-top: 20px;
}
.padding-top-65 {
    padding-top: 65px;
}
.padding-right-0 {
    padding-right: 0;
}
.padding-right-15 {
    padding-right: 15px;
}
.padding-right-30 {
    padding-right: 30px;
}
.padding-right-48 {
    padding-right: 48px;
}
.padding-right-50 {
    padding-right: 50px;
}
.padding-right-60 {
    padding-right: 60px;
}
.padding-left-0 {
    padding-left: 0;
}
.padding-left-15 {
    padding-left: 15px;
}
.padding-left-30 {
    padding-left: 30px;
}
.padding-left-48 {
    padding-left: 48px;
}
.padding-left-50 {
    padding-left: 50px;
}
.padding-left-60 {
    padding-left: 60px;
}
.padding-bottom-5 {
    padding-bottom: 5px;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
@media(max-width: 767px) {
    .padding-right-xs-15 {
        padding-right: 15px !important;
    }
    .padding-bottom-xs-15 {
        padding-bottom: 15px !important;
    }
    .padding-left-xs-15 {
        padding-left: 15px !important;
    }
    .padding-xs-0 {
        padding: 0px !important;
    }
}

/*TEXT ALIGN*/
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
@media(max-width: 767px) {
    .center-xs {
        text-align: center;
    }
}

/*BORDER*/
.border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
}
.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.border-bottom-grey {
    border-bottom: 1px solid #ddd;
}
.border-grey {
    border-bottom: solid 1px #b7b7b7;
}
.border-black {
    border-bottom: solid 1px #000;
}

/*FONT*/
.font-30 {
    font-size: 30px;
}
.font-85px {
    font-size: 85px;
}
.font-22px {
    font-size: 22px;
}
.font6 {
    font-size: 60%;
}
.font-color-grey {
    color: #a0a0a0;
}
.MontserratLight {
    font-family: MontserratLight;
}
.MontserratRegular {
    font-family: MontserratRegular;
}
.MontserratBold {
    font-family: MontserratBold;
}
.MontserratBlack {
    font-family: MontserratBlack;
}
.ACaslonProRegular {
    font-family: ACaslonProRegular;
}
.ACaslonProSemibold {
    font-family: ACaslonProSemibold;
}
.ACaslonProBold {
    font-family: ACaslonProBold;
}
@media(max-width: 767px) {
    .font-30px-xs {
        font-size: 30px !important;
    }
}

/*GENERAL*/
.device-max {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}
.block {
    display: block;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #ff3c85;
}

/*START SECTION HEADER*/
.background-grey {
    background-color: #96989a;
}
.free-shipping-note {
    font-family: MontserratLight;
    text-align: center;
    letter-spacing: 1px;
}
.background-white {
    background-color: #FFF;
}
.list1 {
    font-size: 12px;
    letter-spacing: 1px;
    font-family: MontserratLight;
}
.icon {
    height: 25px;
    width: 25px;
}
.navMenu {
    float: right;
}
.list2 {
    font-family: MontserratMedium;
    font-size: 16px;
}
.nav-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 3px;
    vertical-align: middle;
    border-top: 8px dashed;
    border-top: 4px solid \9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: relative;
    top: -2px;
}
.dropdown-menuproduct {
    border: solid 0px black;
    padding: 0;
    margin: 0;
    min-width: 140px;
    top: 140%;
}
.dropdown-menuproduct > li > a {
    color: black;
    text-align: center;
    font-size: 15px;
}
.dropdown-menuproduct > li {
    border-bottom: solid 1px #feafc0;
}
.dropdown-menuproduct > li > a:hover,.dropdown-menuproduct > li > a:focus,.dropdown-menuproduct > li > a:active {
    background-color: black;
    color: #FFFFFF;
}
.tools-search {
    padding: 0 5px !important;
}
.dropdown-menusearch {
    margin: 0;
    padding: 0;
    right: 0;
    left: inherit;
    border: solid 0px black;
    top: 34px;
    border-radius: 0 !important;
}
.desktop-search {
    position: relative;
}
.input-search {
    padding: 3px 20px 3px 8px;
    width: 200px;
    font-family: MontserratLight;
    box-shadow: none !important;
    outline: none !important;
    border: 0 !important;
    height: 30px;
}
.desktop-search > .glyphicon {
    color: #ccc;
    position: absolute;
    top: 7px;
    right: 7px;
}
.logo-mobile > a {
    display: inline-block;
}

.logo-mobile > a > img {
    height: 80px;
    width: 80px;
    margin: 5px 0;
}
.menu-nav > a {
    display: inline-block;
    height: 30px;
    width: 30px;
    position: relative;
    margin: 12px 0 0 0;
}
.mobile-list {
    margin: 0;
    padding: 0;
    display: block;
}
.mobile-list > li {
    display: block;
    text-align: left;
}
.dropdown-mobsearch .input-search {
    width: 100% !important;
    border: solid 4px rgba(0, 0, 0, 0.65) !important;
    padding: 6px 10px !important;
    border-radius: 0;
}
@media(max-width: 767px){
    .navMenu2 {
            text-align: center !important; 
    }
    .mobile-top {
        border-bottom: solid 1px #444;
        padding: 5px 0;
    }
    .mobile-list > ul {
        margin: 0;
        padding: 0;
    }
    .header-mobile {
        margin-bottom: 15px;
    }
}
/*END SECTION HEADER*/

/*START SECTION BODY*/
/*INDEX*/
.home-pagination > .swiper-pagination-bullet-active {
    background-color: #4a4a4a !important;
}
.home-pagination > .swiper-pagination-bullet {
    opacity: 1;
    background-color: #FFF;
    height: 15px;
    width: 15px;
}
.text-title {
    font-family: MontserratMedium;
}
.swiper-image {
    display: block;
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.prev-slide {
    float: left; 
    height: 32px;
}
.next-slide {
    float: right; 
    height: 32px;
}

/*BLOG*/
.background-artikel-big {
    padding-bottom: 50%;
    background-size: cover;
    position: relative;
}
.artikel-big {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 35px 20px 60px;
}
.artikel-title-big {
    font-size: 35px;
    margin: 15px 0px 20px 0px;
    font-family: MontserratLight;
}
.artikel-description-big {
    font-size: 20px;
    font-family: MontserratLight;
}
.artikel-more-big {
    text-align: right;
    font-size: 25px;
}
.artikel-more-big a {
    border: 2px solid #fff;
    color: #fff;
    padding: 2px 12px;
    border-radius: 12px;
    height: 130px;
    font-family: MontserratLight;
}
.artikel-more-big > a:hover,.artikel-more-big > a:focus,.artikel-more-big > a:active {
    background-color: black;
}
.background-artikel-small {
    padding-bottom: 66%;
    background-size: cover;
    position: relative;
}
.artikel-small {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px 30px 15px;
}
.artikel-title-small {
    font-size: 20px;
    font-family: MontserratLight;
}
.artikel-description-small {
    font-size: 16px;
    font-family: MontserratLight;
}
.artikel-more-small {
    text-align: right;
    font-size: 15px;
    margin-top: 25px;
}
.artikel-more-small a {
    border: 2px solid #fff;
    color: #fff;
    padding: 2px 12px;
    border-radius: 9px;
    font-family: MontserratLight;
}
.artikel-more-small > a:hover,.artikel-more-small > a:focus,.artikel-more-small > a:active {
    background-color: black;
}
.height-50 {
    height: 50px;
}
.line-height-15 {
    line-height: 15px !important;
}
.pagination-list {
    margin-left: 7px;
    margin-right: 7px;
    color: darkgrey;
    font-size: 20px;
}
@media(max-width: 767px){
    .background-artikel-xs {
        padding-bottom: 50%;
        background-size: cover;
        position: relative;
    }
    .artikel-xs {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 3px 10px 0px 10px;
    }
    .artikel-title-xs {
        font-size: 15px;
        margin: 0 !important;
        font-family: MontserratLight;
    }
    .artikel-description-xs {
       font-size: 11px;
       font-family: MontserratLight;
    }
    .artikel-more-xs {
        font-size: 11px;
        border: 2px #fff;
        color: #fff;
        margin-bottom: 15px;
        border-radius: 6px;
        margin-top: 0px;
    }
    .artikel-more-xs a {
        border: 2px solid #fff;
        color: #fff;
        padding: 2px 10px;
        border-radius: 6px;
        height: 130px;
        font-family: MontserratLight;
    }
    .height-xs-32 {
        height: 32px;
    }
}

/*BLOG CONTENT*/
.artikel-theme {
    display: inline;
    border: 2px solid #999;
    border-radius: 8px;
    height: 130px;
    padding: 3px 15px;
    margin: 0px 5px;
    font-family: MontserratLight;
}
.blog-content-title {
    font-size: 50px;
    font-family: MontserratBold;
}
.blog-content-date {
    font-size: 23px;
    font-family: MontserratLight;
}
.artikel-content {
    font-size: 15px;
    line-height: 32px;
    text-align: justify;
    font-family: MontserratLight;
}
@media(max-width: 767px){
    .blog-content-title-xs {
        font-size: 25px;
        font-weight: bold;
    }
    .blog-content-date-xs {
        font-size: 18px;
    }
    .artikel-content-xs {
    font-size: 13px !important;
    line-height: 28px !important;
    text-align: justify !important;
    font-family: MontserratLight !important;
}
}
/*END SECTION BODY*/
/*START SECTION FOOTER*/
@media(max-width: 767px){
    .nav-footer {
        text-align: center;
        margin-top: 10px;
        font-family: MontserratRegular;
    }
    .socMed {
        text-align: center;
        margin-top: 10px;
    }
    .list-sosmed {
        text-align: center;
    }
}
.nav-footer {
    display: block;
    font-family: MontserratRegular;
}
.list-sosmed {
    margin-left: -40px;
}
.socMed {
    display: inline;
}
.subscribe-form {
    margin-bottom: 15px;
}
.subscribe-form input {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    font-family: JosefinRegular;
    border-color: #cccccc;
    height: 35px;
    box-shadow: none !important;
    border:solid 1px #ccc !important;
}
.subscribe-form input::-webkit-input-placeholder {
   font-family: JosefinLightItalic;
   color: #626262;
}
.subscribe-form input:-moz-placeholder { /* Firefox 18- */
   font-family: JosefinLightItalic;
   color: #626262;  
}
.subscribe-form input::-moz-placeholder {  /* Firefox 19+ */
   font-family: JosefinLightItalic;
   color: #626262;  
}
.subscribe-form input:-ms-input-placeholder {  
   font-family: JosefinLightItalic;
   color: #626262;  
}
.btn-subscribe {
    background-color: black;
    color: #FFF;
    font-size: 18px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 4px 8px;
}
.btn-subscribe:hover,.btn-subscribe:focus,.btn-subscribe:active {
    color: #FFFFFF;
    background-color: black;
}
.alert-text {
    font-family: JosefinSemiBoldItalic;
    color: #ffffff;
    margin: 3px 0 0 0;
}
.background-grey-2 {
    background-color: #eeeeee;
}
.text-color-grey-2 {
    color: #a3a3a3;
}
.text-copyright {
    font-family: MontserratLight;
    letter-spacing: 1px;
}
/*END SECTION FOOTER*/

/*SHOP*/
.banner-product {
    padding-bottom: 40%;
    background-size: cover;
    position: relative;
}
.description-text {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 48%;
    padding: 10px 35px 5px 60px;
}
.product-description-text {
    letter-spacing: 1px;
    font-family: MontserratRegular;
    text-align: justify;
    font-size: 130%;
}
.product-description-2 {
    padding: 0 50px 0px 50px;
    height: 50px;
}
.buy-now {
    border: 2px solid #4e5660;
    background-color: #4e5660;
    color: #FFF;
    padding: 4px 5px;
    border-radius: 7px;
    font-family: MontserratExtraLight;
    font-size: 12px;
}
.cart-image {
    height: 18px;
}
@media(max-width: 767px){
    .description-text-xs {
        padding: 10px 10px 0px 0px !important;
        width: 85%;
    }
    .product-description-text-xs {
        font-size: 70% !important;
    }
    .product-description-2 {
        padding: 0 3px 15px 3px !important;
        height: 70px;
    }
    #gal1 {
        padding: 0 !important;
    }
}


/*DETAIL SHOP*/
.product-big {
    margin-bottom: 15px;
    position: relative;
}
.image-primary {
    width: 100% !important;
    position: inherit !important;
}
.photo-title {
    position: absolute;
    bottom: 5px;
    left: 0;
    font-family: FuturaMedium;
    text-transform: uppercase;
    font-size: 14px;
    color: #f0b345;
    text-align: center;
    width: 100%;
}
.thumb-list {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    text-align: center;
    margin-bottom: 30px;
}
.product-thumb {
    display: inline-block;
}
.product-thumb> img {
    width: 100px;
    height: 100px;
    margin: 10px 15px;
}
.zoomContainer {
    max-width: 100% !important;
}
#gal1 {
    padding: 0 15%;
}
.product-name {
    margin-top: 70px;
    font-family: ACaslonProBold;
    color: #000;
    font-size: 170%;
}
.product-price {
    margin: 20px 0px 20px 0;
    font-family: MontserratRegular;
    color: #b5b5b5;
}
.product-description-1 {
    margin: 0 0 20px 0;
    font-family: MontserratLight;
    color: #000;
}
.product-description-long {
    margin: 0 0 40px 0;
    font-family: MontserratLight;
    color: #000;
}
.icon-share-image {
    width: 25px;
    margin-right: 5px;
}
.attention {
    color: #dadada;
    font-size: 10px;
    margin-top: 15px;
    font-family: MontserratLight;
    padding-right: 50px;
}
input#qty {
    z-index: 0;
}

button#btn-minus {
    z-index: 0;
}
@media(max-width: 767px){
    .product-description-long {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
    .product-thumb> img {
        width: 100px;
        height: 100px;
        margin: 10px 5px !important;
    }
    .product-name {
        height: 50px;
        margin-top: 0px;
    }
    .product-description-long {
        margin: 0 0 20px 0 !important;
    }
}